{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!
{% endblock %}

{% block body %}
	<div class="min-w-screen min-h-screen flex mt-16 items-center justify-center px-5 py-5">
		<div class="bg-gray-200 w-4/5 p-6 rounded flex">
			<div class="flex flex-col items-center">
				<div class="rounded-lg shadow-xl bg-gray-900 text-white" style="width:450px;">
					<div class="px-8 py-6">
						<p>
							<em class="text-blue-400">const</em>
							<span class="text-green-400">aboutMe</span>
							<span class="text-pink-500">=</span>
							<em class="text-blue-400">function</em>() {</p>
						<p>&nbsp;&nbsp;<span class="text-pink-500">return</span>
							{</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;name:
							<span class="text-yellow-300">'{{ app.user.firstname ~ ' ' ~ app.user.lastname }}'</span>,</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;phoneNumber:
							<span class="text-yellow-300">'{{ app.user.phoneNumber }}'</span>,</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;website:
							<span class="text-yellow-300">'<a href="https://launayerwan.fr" target="_blank" class="text-yellow-300 hover:underline focus:border-none">https://launayerwan.fr</a>'</span>,</p>
						<p>&nbsp;&nbsp;}</p>
						<p>}</p>
					</div>
				</div>
				<div class="mt-8 flex flex-col">
					<a href="{{ path('app_profil_edit')}}" class="button">Modifier votre profil</a>
					<a href="" class="button mt-6">Test</a>
				</div>
			</div>
			<div class="flex flex-row flex-wrap justify-center">
				{% include "inc/_cardsProd.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
