{% extends 'base.html.twig' %}

{% block title %}Hello ContentController!
{% endblock %}

{% block body %}
	<div class="mt-24">
		<h1 class="text-center mb-3">Liste des produits les plus vendus</h1>
		<div class="flex flex-row flex-wrap justify-center">
			{% include "inc/_cardsProd.html.twig" %}
		</div>
	</div>
{% endblock %}
