{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}
	<div class="flex flex-row flex-wrap justify-center mt-24">
		{% include "inc/_cardsProd.html.twig" %}
	</div>
	<div class="text-center">
		{{ knp_pagination_render(products, 'inc/_paginator.html.twig')}}
	</div>

	<a href="{{ path('app_product_create') }}">Create new</a>
{% endblock %}
