{% extends 'base.html.twig' %}

{% block title %}New Product
{% endblock %}

{% block body %}

	<div class="flex justify-center items-center mt-24">
		{{ include('inc/_form.html.twig') }}
	</div>
{% endblock %}
