{% extends 'base.html.twig' %}

{% block title %}Edit Product
{% endblock %}

{% block body %}
	<h1>Modifier le produit</h1>

	<div class="flex justify-center items-center">
		{{ include('inc/_form.html.twig', {'button_label': 'Update'}) }}
	</div>

	{{ include('inc/_delete_form.html.twig') }}
{% endblock %}
